body {
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #777;
}

.jumbotron {
	background-color: white;
}

.jumbotron b {
	font-size: 20px;
}

.jumbotron h1 {
	text-align: center;
	margin-bottom: 5%;
}

.jumbotron .disclaimer {
	margin-right: 16%;
	margin-left: 16%;
	width: 70%%;
	vertical-align: top;
	display: inline-block;
}

.jumbotron p {
	font-size: 16px;
}

.jumbotron .graph {
	margin-right: 10%;
	margin-left: 2%;
	width: 20%;
	vertical-align: top;
	display: none;
}

.jumbotron img {
	width: 360px;
	height: 250px;
}

.submit-wrapper {
	margin-top: 2%;
	margin-bottom: 2%;
	float: right;
}

.submit-wrapper input {
	height: 50px;
	width: 350px;
}

.results-body {
	text-align: center;
}

#viz_diff {
	height: 500px;
}

#viz_against {
	height: 450px;
}

#viz_in_favor {
	height: 450px;
}